
<!DOCTYPE html>
<html>
      
<head>
    <title>
        Button Page
    </title>
      
    <!-- Style to create button -->
    <style>
        .GFG {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            text-decoration:none;
        }
    </style>
</head>
  
<body>
    <h1>Real-Time Statistics for Eye Movement</h1>
    <p>Please feel free to refresh to see the updates of your eye movements</p>s
      
    <!-- Create a normal link and add CSS property -->
    <div>
        <center>{{ valueFinale1 }}
        <br>
        {{ valueFinale2 }}
        <br>
        {{ valueFinale3 }}
        <br>
        {{ valueFinale4 }}
        <br>
        {{ valueFinale5 }}
        <br>
            {{ valueFinale6 }} </center>
        <br>
    </div>
</body>
  
</html>   